@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Garamond:wght@500&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a { 
    text-align: center;
    color: #F5C10A;
    text-decoration: none;
    padding: 35px;
 }  
 .home-title h1 {
    font-family: 'Cormorant Garamond', 'Acme';
    margin-top: 10px;
 }
.sub-title h4 {
    color: grey;
    font-family: "Acme", "Cormorant Garamond";
    font-size: 2em;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
 border: 5px solid black;
 border-radius: 5px;
 width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
 width: 80px;
}
.icon {
 width: 50px;
}
#hero-msg h1 {
 color: white;
 text-align: center;
}
#hero-msg h4 {
 color: white;
 text-align: center;
}
  .button-box {
    text-align: center;
  }
  main section {
    text-align: center;
  }
  #background {
    height: 725px;
  }
  h2 {
   margin: 0;
  }
  .home-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr) ;
  }
  .card-img {
    border: 10px solid white;
    margin-top: 10px;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.river-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;

}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    border: 5px solid black;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
nav a:hover {
    background-color: grey;
}
.book, .join {
    background-color: #66b2cc;
    color: blue;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 30px;
    margin-top: 50px;
}
.book:hover, .join:hover{
    background-color: yellow;
    color: black;
}
main section img {
    box-sizing: border-box;
}
body {
    background-color: #66b2cc;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#background {
    background-color: black;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: white;
    line-height: 1.5;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: white;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer a {
    background-color: white;
    color: blue;
    text-decoration: none;
}
footer .social {
    padding-top: 15px;
}
footer a:hover {
    background-color: grey;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
/* FAQ page starts here */

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a { 
    text-align: center;
    color: #F5C10A;
    text-decoration: none;
    padding: 35px;
 }  
 #faq.msg {
    display: grid;
    grid-template-columns: 1fr;
 }
#faq-img {
    width: 100%;
    z-index: -1;
    grid-column: 1/2;
    grid-row: 1/2;
}
 .faq-title {
    font-family: 'Cormorant Garamond', 'Acme';
    margin-top: 10px;
    font-size: 2em;
    text-align: center; 
}
 #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
 width: 80px;
}
.faq {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.faq li {
    background: white;
    border-bottom: 1px black solid;
}
.faq li:first-child {
    border-top: 1px #ccc solid;
}
.q {
    padding: 1em 0;
    border-left: 10px white solid;
    cursor: pointer;
}
.q:hover, 
.q:hover .arrow {
    border-left-color: #6f7364;
}
.arrow {
    display: inline-block;
    margin: 0 .5em;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid white;
    border-bottom: 6px solid transparent;
    transition: .3s;
}
.faq p {
    color: black;
    line-height: 25px;
}
.a {
    overflow: hidden;
    height: 0;
    padding: 0 1em 0 3.3em;
}
.a-opened {
    padding: 1em 1em 2em 3.3em;
    height: initial;
}
.arrow-rotated {
    transform: rotate(90deg);
}
.join {
    background-color: #66b2cc;
    color: blue;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 30px;
    margin-top: 50px;
}
.join:hover {
    background-color: yellow;
    color: black;
}
#background {
    background-color: black;
    grid-column: 1/11;
    grid-row: 4/9;
}
footer {
    background-color: white;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer a {
    background-color: white;
    color: blue;
    text-decoration: none;
}
footer .social {
    padding-top: 15px;
}
footer a:hover {
    background-color: grey;
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .river-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #backgrounds {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
